<%= stylesheet_link_tag 'voices', media: 'all' %>


<%= form_with(model: voice, local: true, html: {multipart: true}) do |f| %>
    <% if voice.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% voice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label :url %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>


  <div class="scroll">
    <table class="table table-hover">
      <tbody id="js-xmlArea">
        <tr>
          <th>start</th>
          <th>during</th>
          <th>セリフ</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group">
    <%= f.label :line %>
    <%= f.text_area :line, class: 'form-control', id: 'js-line' %>
  </div>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.text_field :start, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :during %>
    <%= f.text_field :during, class: 'form-control' %>
  </div>
  <%= f.submit class: 'btn btn-primary' %>

<% end %>

